# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# IDE / OS
.vscode/
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log
# Raw dataset
data/raw/*.csv
